* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(Assets/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-color: #fdf1ec;
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  
}
.logo {
  color: #fdf1ec;
  margin-left: 20px;
  font-size: 30px;
}
.order {
  background-color: #a83c57;
  color: #fdf1ec;
  border-radius: 15px;
  height: 30px;
}
.order:hover {
  background-color: #a83c57;
}
nav a {
  height: 100%;
  padding: 0 12.5px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fdf1ec;
  cursor: pointer;
 
}
nav a:hover {
  border-bottom: 4px solid #a83c57;
}

nav svg {
  fill: white;
}
#sidebar-active {
  display: none;
}
.open-sidebar,
.close-sidebar {
  display: none;
}
.hero-text {
  position: absolute;
  top: 55%;
  left: 26%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 150px;
  color: #fdfcfb;
}
.headline {
  font-size: 70px;
  font-weight: 900;
  color: #fdf1ec;
}
.text-center {
  color: #fdf1ec;
}
.btn {
  background-color: #a83c57;
  color: white;
}
.btn:hover {
  background-color: #a83c57;
  color: white;
}
header {
  height: 100vh;
}
.section-header {
  color: #a83c57;
  font-size: 30px;
  font-weight: 500;
  /* font-family: "lobster"; */
  position: relative;
}
.section-header::before {
  content: "";
  background: #a83c57;
  width: 70px;
  height: 2px;
  position: absolute;
  bottom: -5px;
}
#about .col-md-5 {
  margin-right: 80px;
}
.about-btn {
  text-decoration: none;
  font-weight: 600;
  color: #a83c57;
}
#menu {
  background-color: rgba(168, 60, 87, 0.08);
  padding: 10px;
}
.card-img-top {
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.card-text {
  font-size: 13px;
  min-height: 98px;
}
.customers-fav {
  padding: 5px;
}
.old-price {
  text-decoration: line-through;
  color: grey;
  margin-right: 4px;
  font-weight: lighter;
}
.card-title-2 {
  font-size: 15px;
  min-height: 52px;

}
.card-text-2 {
  font-size: 13px;

}
.testimonials {
  background-color: rgba(168, 60, 87, 0.08);
  padding: 20px 0;
}

.text-testimonial {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.testimonial-quote {
  font-size: 16px;
  font-style: italic;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.2;
}

.customer-name {
  color: #a83c57;
  font-weight: 500;
}

.stars {
  color: #ffd700;
  font-size: 20px;
}
.newsletter{
  padding: 50px;
}
.newsletter h1{
  color: #a83c57;
}
.newsletter-text {
  max-width: 800px;
  text-align: center;
  margin: 0 auto; 
  padding: 0 20px; }
#email{
  width: 50%;
  border: 1px solid rgb(215, 212, 212);
background-color: #fdf1ec;
  padding: 5px; 
}
.newsletter-button{
 background-color: #a83c57;
  color: white;
  padding: 5px 10px;
  border: none;
  /* border-radius: 15px; */
  cursor: pointer;
  font-weight: 600;
  /* margin-top: 10px;  */
}
.newsletter-button:hover{
   background-color: #8a2f45;
}
footer{
  background-color: #a83c57;
  padding: 30px 0;
  height: 100vh;
  color: white;
  position: relative;
}

footer h3{font-size: 15px;
}


footer a{
  text-decoration: none;
color: white;
}
footer a:hover{
  text-decoration: underline;
}
.footnote {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
}



/* Media */

@media (max-width: 696px) {
  body {
    background-image: url(Assets/hero.jpg);
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    background-size: cover;
  }
  header {
    height: 65vh;
  }
  .links-container {
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 200px;
    background-color: rgb(0, 0, 0);
    transition: 1s ease-out;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100px;
    padding: 20px 30px;
  }
  .order {
    display: none;
  }
  .open-sidebar,
  .close-sidebar {
    display: block;
    padding: 20px;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  .hero-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    color: #fdfcfb;
  }
  .headline {
    font-size: 40px;
    font-weight: 900;
  }
  #about .col-md-5 {
    margin-left: 80px;
  }
  /* .contact .col-md-5 {
  margin-left: 80px;} */
}