body{
    background-color: #fdf1ec;
}

/* Cakes */
.back {
  background-color: #fdf1ec;
  width: 100%;
  height: 60px;
}

.page-header {
  height: 250px;
  width: 100%;
}
.page-header img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.header-img {
  position: relative;
}
.header-img::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.page-header-content {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f8f1e9;
}
.card-img-top-2 {
  height: 150px;
  object-fit: cover;
  object-position: center;
}
.card-title-3 {
  font-size: 13px;
  min-height: 28px;
}
.card-text-3 {
  font-size: 10px;
  font-style: italic;
  max-height: 17px;
}
.button {
  display: flex;
}
.btn {
  background-color: #a83c57;
  color: white;
}
.btn:hover {
  background-color: #a83c57;
  color: white;
}